<html>
  <head>
    <title>CFA - ERROR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .form-style-1 {
        margin:10px auto;
        max-width: 400px;
        padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }
      .form-style-1 li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
      }
      .form-style-1 label{
        margin:0 0 3px 0;
        padding:0px;
        display:block;
        font-weight: bold;
      }
      </style>
  </head>
  <body>
      <a href="/">Home</a>
      <form method="get" action="feedback">
        <ul class="form-style-1">
            <li>
                <label>An Error occured!</label>
                {{message}}
            </li> 
        </ul>
      </form>
  </body>
</html>